.container {
  margin-top: 100px;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.history {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.header {
  align-self: center;
}

.message {
  align-self: center;
}

.mainLink {
  align-self: center;
  color: #0cb4f1;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s;
}

.mainLink:hover {
  opacity: 0.7;
}

@media (width < 950px) {
  .history {
    flex-direction: column;
  }

  .block {
    width: 100%;
  }
}
