.btn,
.addition {
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: var(--bg-btn);
  color: var(--bg);
  font-size: var(--size-m);
  transition: all 250ms;
}

.btn a,
.addition a {
  color: black;
}

.addition {
  background: var(--bg);
  color: var(--bg-btn);
  border: 1px solid var(--bg-btn);
}

.btn:hover,
.addition:hover {
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.btn:disabled,
.addition:hover {
  opacity: 0.3;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}
