.blockFields {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 3px;
  border: 1px solid #b7ecff;
  width: 100%;
  padding: 8px;
  gap: 6px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.arrow {
  position: relative;
  font-size: 30px;
  color: #0cb4f1;
  cursor: pointer;
  transition: transform 0.2s;
}

.arrow:hover:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0.3;
  content: '';
}

.paramsDescription {
  background-color: #e3f3ff;
  padding: 4px 8px;
  border-radius: 8px;
}
