.block {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.blockHeader {
  align-self: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.input {
  flex-grow: 1;
  padding: 8px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #e9e9e9;
}

.select {
  flex-grow: 1;
  padding: 8px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #e9e9e9;
  cursor: pointer;
}

.body {
  flex-grow: 1;
  padding: 8px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #e9e9e9;
  min-width: 35vw;
  min-height: 20vh;
}

.bodyError {
  color: #ff4830;
}

@media (width < 800px) {
  .block {
    width: 100%;
  }
}
