.title {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}

.wrapper {
  padding: 15px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.request {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.documentation {
  padding: 15px;
}
