.textarea {
  flex-grow: 1;
  padding: 8px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #e9e9e9;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #0cb4f1 #e9e9e9;
}

.textarea::placeholder {
  text-align: center;
}
