.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0cb4f1;
  padding: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2e2e2e;
  gap: 2px;
  transition: all 500ms;
}

.link:hover {
  transform: scale(1.1);
}

.authors {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.git {
  cursor: default;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.logo {
  cursor: pointer;
  transition: all 500ms;
}

.logo:hover {
  transform: scale(1.1);
}
