.authors {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--size-m);
  transition: all 250ms;
}

.link {
  opacity: 0.6;
  color: var(--dark);
  text-decoration: none;
}

.link:hover {
  opacity: 0.9;
  color: var(--bg-btn);
}
