.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-size: 24px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.input {
  padding: 8px 8px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #e9e9e9;
}
