*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --bg: #f7f7f7;
  --bg-btn: #0cb4f1;
  --size-def: 10px;
  --size-s: 1.4rem;
  --size-m: 1.6rem;
  --size-l: 2.4rem;
}

html {
  min-height: 100vh;
  font-size: var(--size-def);
}

body {
  min-height: 100vh;
  background: var(--bg);
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 960px;
  }
}

@media (max-width: 980px) {
  .wrapper {
    width: 760px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 560px;
  }
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--bg-btn);
  padding: 10px;
}

.year {
  font-size: var(--size-m);
  font-weight: 500;
}
