* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background: #f7f7f7;
  margin: 0;
}
