.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  gap: 10px;
}

.link {
  color: #0cb4f1;
  transition: color 0.2s;
  overflow-wrap: break-word;
  overflow: auto;
}

.link:hover {
  opacity: 0.7;
}
